/* latin-ext */
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
* {
  font-family: 'Nerko One', cursive;
}
.image {
  display: block;
  margin: 0 auto;
}
.title {
  color: black;
  font-family: 'Times New Roman';
  text-align: center;
}
.cvpic {
  width: 400px;
  display: block;
  margin: 0 auto;
  border-color: blue;
  border: 10px solid blue;
}
.tomato {
  color: blue;
  text-align: center;
}
.rose {
  color: lightpink;
  text-align: center;
}
.subs {
  text-align: center;
  font-size: x-large;
  color: darkslategray;
  font-family: Arial;
  font-weight: 350;
}
.parrafo {
  font-family: Arial;
  text-align: justify;
  font-weight: bold;
  font-size: x-large;
}
.centro {
  font-family: Arial;
  text-align: center;
}
.contact {
  font-size: large;
  font-family: Arial;
  color: lightpink;
  font-weight: bold;
}
.container {
  display: flex;
}
.centjust {
  font-family: Arial;
  text-justify: distribute;
}
.cubo {
  width: 150px;
}
.spooky {
  font-family: 'Franklin Gothic Medium';
  color: black;
  text-align: center;
}
.parrafomedio {
  font-family: Arial;
  text-align: justify;
  font-weight: bold;
  font-size: medium;
}
.lista {
  color: maroon;
  font-family: Arial;
  text-align: center;
}
.background-color {
  background-color: darkblue;
  width: 218px;
  height: 500px;
}
.circles {
  display: flexbox;
  margin-left: 200px;
  margin-top: 0;
}
.paragraph {
  color: white;
  width: 550px;
  margin-top: 200px;
  margin-left: 20px;
}
.background-color2 {
  background-color: pink;
}
.header {
  color: white;
  width: 200px;
  margin-top: 200px;
  margin-left: 20px;
}
.box {
  display: flex;
  margin-left: 200px;
  margin-top: 0;
}
